<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO List - GTM</title>
    <link rel="stylesheet" href="/styles/styles.css">
     <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/ecc9200e8b.js" crossorigin="anonymous"></script>
</head>

<header>

    <nav>
      
        <ul>
            <div class="navbar">
                <div class="nav-item">
                    <li><a href="/"><i class="far fa-calendar-alt"></i>  Today </a></li>
                </div>
                <div class="nav-item">
                    <li ><a href="/work"><i class="far fa-clone"></i>  Work </a></li>
                </div>
            </div>
        </ul>

    </nav> 
    
</header>
<main class="container">